*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cont{
    display: flex;
    position: relative;
    top: 15vh;
    left: 25vw;
    margin: 20px;
    height: 368px;
    width: 580px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.222);
}
#regisform{
    padding: 20px;
    font-family: sans-serif;
}
.head{
    width: 230px;
    margin: 10px;
}
#headdesc{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight:550;
    font-size: 10px;
}
#form{
    margin: 10px;
    width: 230px;
    min-height: 100px;
}
.labels{
    font-size: 12px;
    font-weight: 550;
}
input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
#buttonsub{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    width: 100%;
    background-color: #029507;
    color: white;
    border: none;
}
#buttonsub:hover{
    opacity: .7;
}
#tandc{
    font-size: 8px;
    font-weight: 550;
    margin-top: 5px;
}
#img{
    height: 368px;
    width: 290px;
}